@import '@/styles/variables.scss';

.container {
  flex: 1;
  flex-direction: column;
}

.header {
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
}

.header--position--top {
  justify-content: center;
  padding: 0.3125em 5em;

  @media screen and (max-width: $break-large) {
    padding: 0.3125em 0.625em;
  }
}

.header--position--bottom {
  justify-content: flex-start;
  align-items: center;
  background: $primary-blue;
  padding: 0 5em;

  @media screen and (max-width: $break-large) {
    justify-content: space-between;
    padding: 1em;
  }
}

.box {
  justify-content: center;
  align-items: center;
  border-color: $regular;

  svg {
    width: 1.625em;
    margin: 0.3125em;
    @media screen and (max-width: $break-large) {
      width: 2.5em;
      margin: 0;
    }
    @media screen and (max-width: $break-small) {
      width: 2em;
      margin: 0;
    }
  }

  @media screen and (max-width: $break-large) {
    flex-direction: column;
  }
}

.box--display--flex {
  flex: 1;
}

.box--order--first {
  @media screen and (max-width: $break-large) {
    border-right-width: 0.1875em;
    p {
      display: none;
    }
    &::after {
      @media screen and (max-width: $break-small) {
        font-size: 0.75em;
      }
      font-size: 1em;
      font-weight: bold;
      color: $secondary-blue;
      content: "Ajuda";
    }
  }
}

.box--order--last {
  @media screen and (max-width: $break-large) {
    border-left-width: 0.1875em;
    p {
      display: none;
    }
    &::after {
      @media screen and (max-width: $break-small) {
        font-size: 0.75em;
      }
      font-size: 1em;
      font-weight: bold;
      color: $secondary-blue;
      content: "Conta";
    }
  }
}

.box--item--desktop {
  @media screen and (max-width: $break-large) {
    display: none;
  }
}

.description {
  font-size: 1em;
  font-weight: bold;
  color: $secondary-blue;
}

.separator {
  background: $regular;
  width: 0.1875em;
  margin: 0.625em 1.25em;
  @media screen and (max-width: $break-large) {
    margin: 1.25em;
  }
}

.separator--item--mobile {
  display: none;
  @media screen and (max-width: $break-large) {
    display: flex;
  }
}

.logo {
  max-height: 4.375em;
  @media screen and (max-width: $break-large) {
    max-height: 6.25em;
    width: auto;
  }
  @media screen and (max-width: $break-medium) {
    max-height: 5em;
    width: auto;
  }
  @media screen and (max-width: $break-small) {
    max-height: 4.5em;
    width: auto;
  }
}

.textbox {
  flex-direction: column;
}

.description--item--smaller {
  font-size: 0.875em;
}

.description--item--smallest {
  font-size: 0.75em;

}

.button {
  padding: 0.325em 2em;
  &:first-of-type {
    padding: 0 1em 0 0;
  }
  p {
    color: $grey;
    font-size: 0.925em;
    font-weight: 700;
    @media screen and (max-width: $break-small) {
      font-size: 0.75em;
    }
  }
  @media screen and (max-width: $break-large) {
    display: none;
    &:first-of-type {
      display: flex;
    }
  }
}

.button--status--selected {
  background: $secondary-blue;
}

.menu {
  display: none;
  @media screen and (max-width: $break-large) {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  p {
    font-size: 1em;
    font-weight: bold;
    color: $grey;
  }

  svg {
    width: 1.5em;
  }
  @media screen and (max-width: $break-small) {
    p {
      font-size: 0.75em;
    }
    svg {
      width: 1.25em;
    }
  }
}
